.App {
   text-align: center;
   border: black, 2px, solid;
   display: inline;
}

.body-style {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: baseline;
   align-content: stretch;
   width: auto;
}

.car-style {
   width: 300px;
   height: 500px;
   display: inline;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   align-items: center;
}

.darktheme {
   background-color: rgb(36, 36, 36);
   color: white;
   padding: 20px;
   margin: 0px;
}

.car-info {
   border: 2px solid rgb(44, 44, 44);
   background-color: rgb(116, 116, 116);
   border-radius: 5%;
   width: 250px;
   margin: 20px;
}
